body {
  background-color: #f4f1ec; 
  font-family: 'Roboto Slab', serif; 
  margin: 0;
  padding: 0;
}
nav {
  background-color: #000; 
}

.banner-imgs {
  background-color: #fff;
  border: 5px solid #8B0000;
  filter: sepia(40%);
  border-radius: 5px;
  width: 100%;
}

.destaques {
  background-color: #fff; 
  padding: 40px 20px; 
}
.destaques h2 {
  color: #8B0000; 
  font-family: 'Bebas Neue', cursive; 
  text-align: center;
  margin-bottom: 30px;
}

.filtro-form {
  border: 3px solid #000;
  border-radius: 10px;
  padding: 20px;
  background-color: transparent; 
}
.filtro-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  color: #8b0000;
  font-weight: 700;
}

.form-control:focus,
.form-select:focus {
  outline: none;
  box-shadow: none;
  border-color: #8B0000;
}


.produtos-imgs {
  background-color: #f4f1ec; 
  border: 2px solid #555; 
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
  text-align: center;
  outline: none;
}
.produtos-imgs:hover,
.produtos-imgs:focus {
  transform: scale(1.05);
  border-color: #8B0000;
}
.produtos-imgs.selecionado {
  border-color: #8B0000;
  transform: scale(1.05);
}
.produtos-imgs img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.card-text {
  font-size: 1.25rem;
}

.btn-clicar {
  background-color: #8B0000;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.btn-clicar:hover,
.btn-clicar:focus {
  background-color: #FFD700;
  color: #000;
}

/* Rodapé */
footer {
  background-color: #000;
  color: white;
}
